In [2]:
!ls

Untitled.ipynb          enrollments.csv         table_descriptions.txt
daily_engagement.csv    project_submissions.csv

- **female_completion_rate:**  
    Primary completion rate is the percentage of female students completing the
    last year of primary school. It is calculated by taking the total number of
    female students in the last grade of primary school, minus the number of
    repeaters in that grade, divided by the total number of children of
    official graduation age. The ratio can exceed 100% due to over-aged and
    under-aged children who enter primary school late/early and/or repeat
    grades. United Nations Educational, Scientific, and Cultural Organization
    (UNESCO) Institute for Statistics.

- **male_completion_rate:**  
    Same as female_completion_rate, but for male students.

- **life_expectancy:**  
    The average number of years a newborn child would live if current mortality
    patterns were to stay the same.

- **gpd_per_capita:**  
    Gross Domestic Product per capita in constant 2000 dollars. The inflation but
    not the differences in the cost of living between countries has been taken
    into account.

- **employment_above_15:**  
    Percentage of total population, age above 15, that has been employed during
    the given year.

In [1]:
import pandas as pd
from datetime import datetime

enrollments = pd.read_csv('enrollments.csv')
daily_engagement = pd.read_csv('daily_engagement.csv')
project_submissions = pd.read_csv('project_submissions.csv')

def date_na(date):
    if type(date) == str:
        return datetime.strptime(date, '%Y-%m-%d')

# na값이 있어서 1900-01-01로 바꿈
enrollments.join_date = enrollments.join_date.apply(lambda x : datetime.strptime(x, '%Y-%m-%d'))
enrollments.cancel_date = enrollments.cancel_date.apply(date_na)
daily_engagement.utc_date = daily_engagement.utc_date.apply(lambda x : datetime.strptime(x, '%Y-%m-%d'))
project_submissions.creation_date = project_submissions.creation_date.apply(lambda x : datetime.strptime(x, '%Y-%m-%d'))
project_submissions.completion_date = project_submissions.completion_date.apply(date_na)

In [44]:
enrollments.head()

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True
4,448,current,2015-03-10,NaT,NaN,True,False

In [48]:
daily_engagement.head()

,acct,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1.0,11.679374,0.0,0.0
1,0,2015-01-10,2.0,37.284887,0.0,0.0
2,0,2015-01-11,2.0,53.633746,0.0,0.0
3,0,2015-01-12,1.0,33.489270,0.0,0.0
4,0,2015-01-13,1.0,64.779678,0.0,0.0

In [49]:
project_submissions.head()

,creation_date,completion_date,assigned_rating,account_key,lesson_key,processing_state
0,2015-01-14,2015-01-16,UNGRADED,256,3176718735,EVALUATED
1,2015-01-10,2015-01-13,INCOMPLETE,256,3176718735,EVALUATED
2,2015-01-20,2015-01-20,PASSED,256,3176718735,EVALUATED
3,2015-03-10,2015-03-13,PASSED,434,3176718735,EVALUATED
4,2015-02-17,2015-03-03,INCOMPLETE,434,3176718735,EVALUATED

In [50]:
import pandas_profiling

enrollments_pr = enrollments.profile_report()
daily_engagement_pr = daily_engagement.profile_report()
project_submissions_pr = project_submissions.profile_report()

enrollments_pr.to_file('enrollments_pr.html')
daily_engagement_pr.to_file('daily_engagement_pr.html')
project_submissions_pr.to_file('project_submissions_pr.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [52]:
!open daily_engagement_pr.html