In [1]:
import pandas as pd
import numpy as np

In [3]:
weather = pd.read_csv('nyc_subway_weather.csv')
weather.head()

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,...,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,05-01-11,00:00:00,4388333,2911002,0.0,0.0,2011-05-01 00:00:00,0,6,...,30.22,0,55.9,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
1,R003,05-01-11,04:00:00,4388333,2911002,0.0,0.0,2011-05-01 04:00:00,4,6,...,30.25,0,52.0,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
2,R003,05-01-11,12:00:00,4388333,2911002,0.0,0.0,2011-05-01 12:00:00,12,6,...,30.28,0,62.1,6.9,0.0,30.258,55.98,7.86,40.700348,-73.887177
3,R003,05-01-11,16:00:00,4388333,2911002,0.0,0.0,2011-05-01 16:00:00,16,6,...,30.26,0,57.9,15.0,0.0,30.258,55.98,7.86,40.700348,-73.887177
4,R003,05-01-11,20:00:00,4388333,2911002,0.0,0.0,2011-05-01 20:00:00,20,6,...,30.28,0,52.0,10.4,0.0,30.258,55.98,7.86,40.700348,-73.887177

In [4]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42649 entries, 0 to 42648
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UNIT             42649 non-null  object
 1   DATEn            42649 non-null  object
 2   TIMEn            42649 non-null  object
 3   ENTRIESn         42649 non-null  int64
 4   EXITSn           42649 non-null  int64
 5   ENTRIESn_hourly  42649 non-null  float64
 6   EXITSn_hourly    42649 non-null  float64
 7   datetime         42649 non-null  object
 8   hour             42649 non-null  int64
 9   day_week         42649 non-null  int64
 10  weekday          42649 non-null  int64
 11  station          42649 non-null  object
 12  latitude         42649 non-null  float64
 13  longitude        42649 non-null  float64
 14  conds            42649 non-null  object
 15  fog              42649 non-null  int64
 16  precipi          42649 non-null  float64
 17  pressurei        42649 non-null  float64
 18  rain             42649 non-null  int64
 19  tempi            42649 non-null  float64
 20  wspdi            42649 non-null  float64
 21  meanprecipi      42649 non-null  float64
 22  meanpressurei    42649 non-null  float64
 23  meantempi        42649 non-null  float64
 24  meanwspdi        42649 non-null  float64
 25  weather_lat      42649 non-null  float64
 26  weather_lon      42649 non-null  float64
dtypes: float64(14), int64(7), object(6)
memory usage: 8.8+ MB

In [6]:
weather.iloc[:5, :10]

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week
0,R003,05-01-11,00:00:00,4388333,2911002,0.0,0.0,2011-05-01 00:00:00,0,6
1,R003,05-01-11,04:00:00,4388333,2911002,0.0,0.0,2011-05-01 04:00:00,4,6
2,R003,05-01-11,12:00:00,4388333,2911002,0.0,0.0,2011-05-01 12:00:00,12,6
3,R003,05-01-11,16:00:00,4388333,2911002,0.0,0.0,2011-05-01 16:00:00,16,6
4,R003,05-01-11,20:00:00,4388333,2911002,0.0,0.0,2011-05-01 20:00:00,20,6

In [20]:
type(weather.conds.value_counts())

pandas.core.series.Series